{% extends "base.html" %}

{% block title %}Логин - {{ block.super }} {% endblock %}

{% block content %}
<h2>Войти с логином</h2>
{% if form.errors %}
<p>Имя пользователя или пароль не правильные. Попробуйте еще раз.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Недостаточно прав для доступа. Чтобы продолжить, нужно войти с логином, у которого есть права для этого.</p>
    {% else %}
    <p>Нужен логин.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_div }}

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}